.basket {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}

.basket__body,
.basket__summary {
  width: 100%;
  padding: 32px 16px 20px 16px;
  background-color: var(--c-light);
  border-radius: var(--border-radius);
}

.basket__summary {
  max-width: 387px;
}

.basket__body {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.basket__title {
  font-size: 20px;
  font-weight: 400;
}

.basket__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.basket__summary {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}