.container {
  width: 100%;
  max-width: calc(var(--grid-width) + var(--grid-padding) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--grid-padding);
  padding-right: var(--grid-padding);
}