.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  background-color: var(--c-light);
  border-radius: var(--border-radius);
}

.product-card__category {
  position: absolute;
  top: 6px;
  right: 6px;
  display: inline-flex;
  padding: 6px 8px;
  color: var(--c-light);
  background-color: var(--c-accent);
  border-radius: inherit;
}

.product-card__image-wrapper {
  display: flex;
  width: 100%;
  height: 230px;
  border-radius: inherit;
  overflow: hidden;
}

.product-card__image-wrapper:not(:last-child) {
  margin-bottom: 10px;
}

.product-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__body:not(:last-child) {
  margin-bottom: 40px;
}

.product-card__title {
  text-decoration: none;
  color: var(--c-dark);
}

.product-card__title:hover {
  color: var(--c-accent);
}

.product-card__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 0.8em;
  color: var(--c-gray-3);
}

.product-card__counter.counter {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.product-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.product-card__price {
  font-size: 18px;
  color: var(--c-gray-3);
}

.product-card__buy-button {
  display: inline-flex;
  column-gap: 0.35em;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: var(--c-accent);
  cursor: pointer;
}

.product-card__buy-button:hover {
  color: var(--c-dark);
}