/** Анимация плавного исчезновения влево */
@keyframes fade-out-right {
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.status-bar {
  position: absolute;
  z-index: 100;
  bottom: 30px;
  left: 30px;
  pointer-events: none;
}

.status-bar__list {
   display: flex;
   flex-direction: column-reverse;
   align-items: flex-start;
   row-gap: 5px;
   list-style: none;
 }

.status-bar__item {
  display: flex;
  /**
    * Анимация плавного появления слева направо (reverse-анимация)
    *
    * Срабатывает на элементе 1 раз
    * при его появлении элемента на странице
    *
    * В свойстве ниже по порядку указываются значения:
    * 'длительность анимации'
    * 'стиль функции "плавности" анимации'
    * 'количество повторов'
    * 'тип направления'
    * 'стиль анимации'
    * 'название анимации из keyframes'
    *
    * Подробнее можно прочитать тут:
    * https://developer.mozilla.org/en-US/docs/Web/CSS/animation
    **/
  animation: 0.5s ease-in 1 reverse forwards fade-out-right;
}

/**
  * После удаления дочернего элемента status-bar__label
  * при окончании анимации (событие onAnimationEnd в react'е),
  * стоит скрыть его родительский элемент status-bar__item
  *
  * Псевдокласс 'empty' применится только тогда,
  * когда внутри элемента status-bar__item в разметке
  * не будет содержаться ни одного элемента,
  * ни одного символа
  **/
.status-bar__item:empty {
  display: none;
}

.status-bar__label {
  --expirationTimeMS: 5s;

  padding: 4px 14px;
  font-size: 20px;
  background-color: var(--c-accent);
  border: 1px solid var(--c-dark);
  border-radius: var(--border-radius);
  backdrop-filter: blur(40px);
  /**
  * Анимация плавного исчезновения справа налево
  *
  * Срабатывает на элементе 1 раз
  * при его появлении элемента на странице
  *
  * За счёт добавления задержки (expirationTimeMS)
  * перед выполнением анимации и реализуется логика
  * "временного" появления статуса на экране
  *
  * В свойстве ниже по порядку указываются значения:
  * 'длительность анимации'
  * 'стиль функции "плавности" анимации'
  * 'длительность задержки перед выполнением'
  * 'количество повторов'
  * 'название анимации из keyframes'
  *
  * Подробнее можно прочитать тут:
  * https://developer.mozilla.org/en-US/docs/Web/CSS/animation
  **/
  animation: 0.5s ease-in var(--expirationTimeMS) 1 fade-out-right;
}
